

/* ================================================= */
/* Linha Atras do CadastroUsuario*/
.Linha{
    position: absolute;
    top: 65%;
    width: 100%;
    height: 120px;
    background: #3b3b3b;
}
/* ================================================= */
/* Linha Atras do CadastroUsuario*/
.Linha{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 120px;
    background: #3b3b3b;
}

/* ================================================= */
/* Esqueceu a Senha */
.Container-Senha {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.bloco-auth {
    position: relative;
    background-color: #fff;
    padding: 100px;
    border-radius: 10px;
}

.bloco-auth h1{
    color: #333;
    text-align: center;
}

.bloco-auth p {
    color: #555;
    text-align: center;
    margin-top: 10px;
}

.FormSenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Campo {
    display: flex;
    flex-direction: column;
}

.Campo label{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

.Campo input{
    color: #555;
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    border: 1px solid #999;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: start;
}

.FormSenha button {
    background-color: #555;
    margin-top: 30px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
    border: 0;
}
