
/* ================================================= */
/* Linha Atras do CadastroUsuario*/
.Linha{
    position: absolute;
    top: 65%;
    width: 100%;
    height: 120px;
    background: #3b3b3b;
}

/* ================================================= */
/* Login */

.Container-Auth {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.Bloco-Login {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloco-auth h1{
    color: #333;
    width: 100%;
    margin-bottom: 50px;
}

.Formlogin {
    width: 100%;
    max-width: 500px;
}

.Campo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Campo label{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

.Campo input{
    color: #555;
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    border: 1px solid #999;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: start;
}

.Campo a{
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
}

.Campo button {
    background-color: #555;
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
    border: 0;
}

.FimCampo{
    margin-top:25px;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}

.Links{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.Links a{
    text-decoration:none;
    color:#333;
    font-size:12px;
}

.FimCampo button{
    width:100%;
    max-width: 130px;
    height:40px;
    background:#555;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
