/* Configuração Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #0b0b0b;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
/* ================================================= */
/* BackGround do Menu */
.topo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 6%;
    z-index: 10;
    background: rgba(10, 10, 10, 0.25); /* reduzi de 0.55 pra 0.25 — teste esse valor */
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(8px);
}

/* Logo */

.logo{
    width: 100%;
    background:  transparent;
}

.logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    width: 100%;
    max-width: 70px;
    height: auto;
    margin-left: 30px;
}

/* Menu */

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 7px;
    transition: 0.3s ease;
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.06);
    color: #d4af6a;
}

.menu a.ativo {
    color: #d4af6a;
    border: 1px solid rgba(212, 175, 106, 0.4);
    background: rgba(212, 175, 106, 0.08);
}

/* Pagina PerfilProfissinal */

.BackGround{
    position: relative;
    background-image: url("../img/BackgroundFundo.png");
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 100px auto;
}

.menu-lateral {
    width: 200px;
    background-color: #111112;
    border: 1px solid #29292b;
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box;
}


/* LISTA */
.menu-lateral ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0;
    margin: 0;
    list-style: none;
}


/* ITENS */
.menu-lateral li {
    width: 100%;
    padding: 0;
    list-style: none;
}


/* LINK */
.menu-lateral li a{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px 10px;
    border-radius: 6px;
    text-decoration: none;
    color: #EEEEEE;
    background-color: #1C1C1E;
    border: 1px solid #1C1C1E;
    font-size: 12px;
    gap: 10px;
}

/* ÍCONES */
.menu-lateral li a img {
    width: 18px;
    height: 18px;
}

.menu-lateral li.ativo a {
    background-color: #1C1C1E;
    border: 1px solid #59431f;
    color: #D4A63A;
    padding: 6px 10px;
    border-radius: 6px;
}

.menu-lateral li:hover a {
    background-color: #302718;
    border: 1px solid #59431f;
    color: #D4A63A;
    padding: 6px 10px;
    border-radius: 6px;
}

.menu-lateral li:last-child {
    margin-top: 5px;
    padding-top: 8px;
    border-top: 1px solid #292929;
}

/* Container */

.conteudo{
    display: flex;
    flex-direction: column;
    padding: 13px 10px;
    gap: 15px;
    background-color: #111111;
    border-radius: 10px;
    border: 2px solid #29292b;
}

.conteudo h1{
    font-size: 20px;

}

.conteudo p{
    font-size: 13px;
}

.EditarPerfil button{
    background-color: #292929;
    color: #D4A63A;
    padding: 10px;
    gap: 8px;
    border: 1px solid #D4A63A;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.EditarPerfil button:hover{
    background-color: #302718;
    border: 1px solid #D4A63A;
    color: #D4A63A;
    padding: 10px;
    border-radius: 8px;
}

.editar-perfil{
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid #F5A623;
    color: #F5A623;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
}

.editar-perfil svg {
    width: 15px;
    height: 15px;
    fill: none;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.editar-perfil:hover {
    background-color: #F5A62320;
}

.Inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conteudo-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
    padding-top: 8px;
    border-top: 1px solid #D4A63A;
}

.foto img{
    width: 100%;
    width: 130px;
    height: 130px;
    background-color: #171717;
    border: 1px dashed #F5A623;
    border-radius: 100px;
}

.dados-usuario{
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    padding: 5px;
    gap: 3px;
}

.dados-usuario h2{
    font-size: 25px;
    margin-bottom: 5px;
}

.dados-usuario p{
    font-size: 12px;
}

.membro-desde{
    display: flex;
    align-items: center;
    gap: 2px;
}

.membro-desde img{
    width: 100%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: #D4A63A;
}

.membro-desde {
    margin-top: 20px;
}

.cardsInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.cardInfo{
    width: 120px;
    height: 130px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #171717;
    border: 1px solid #292929;
    border-radius: 10px;
}

.cardInfo img{
    width: 100%;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.cardInfo h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.cardInfo p{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.informacao {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-informacoes {
    background-color: #171717;
    border: 2px solid #292929;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    gap: 10px;
}

.card-informacoes h2{
    font-size: 20px;
    margin-bottom: 5px;
}

.informacoes {
    display: flex;
    flex-direction: column;
}

.item {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    border-top: 2px solid #292929;;
}

.item img {
    width: 20px;
    height: 20px;
}

.item-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-text span {
    font-size: 13px;
    color: #999;
}

.item-text strong {
    font-size: 15px;
    color: #fff;
}

.card-Atividades{
    background-color: #171717;
    border: 2px solid #292929;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}

.TextAtividades {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    border-bottom: 2px solid #292929;
}

.TextAtividades h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.atividades{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.atividade {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    padding: 20px 0;
    border-top: 2px solid #292929;
}

.atividade:first-child {
    border-top: none;
    padding-top: 0;
}

.AtividadeDetalhe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.AtividadeDetalhe span{
    font-size: 15px;
    color: #fff;
}

.atividade img{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-top: 2px;
}

.atividade strong {
    font-size: 13px;
    color: #999;
}

.AtividadeDetalhe p {
    font-size: 10px;
    color: #999;
}

.BtnAtividadesDetalhes{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.BtnAtividadesDetalhes a{
    background-color: #292929;
    border: 1px solid #D4A63A;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 100px;
    color: #D4A63A;
    font-size: 13px;
}

.btnAlterarSenha {
    background-color: #292929;
    border: 1px solid #D4A63A;
    border-radius: 8px;
    margin-top: 12px;
    padding: 10px 100px;
    text-align: center;
}

.btnAlterarSenha a{
    text-decoration: none;
    color: #D4A63A;
    font-size: 13px;
}

/* ================================================= */
/* Rodapé */

.rodape {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 22px 6%;
    background: #080808;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    color: #888888;
    font-size: 13px;
    border-top: 1px solid #D4A63A;
}

.RodapeLinks {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #555555;

}

.rodape a {
    color: #d4af6a;
    text-decoration: none;
    transition: 0.3s ease;
}

.rodape a:hover {
    color: #e2c07b;
}